@model  IMS.Models.AnnouncemtentModels.ShowAnnoucementModel
@{
    ViewBag.Title = "Annoucements";
}
<div>
    <table style="width:100%">
        <tr>
            <th>AnnoucmentID</th>
            <th>NewsText</th>
            <th>AnnoucementDate</th>
            <th>CourseName</th>
        </tr>
        @foreach (var item in Model.allAnnoucement.AsEnumerable())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NewsText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnnoucementDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Name)
                </td>
            </tr>
        }
    </table>
</div>



