@model IMS.Models.InstructorModels.AddQuestionsModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Student.cshtml";
}

<h2>AddQuestions</h2>
<div class="col-lg-6 col-md-6 ">
    <form class="form-wrap" action="/Admin/AddAnnouncement" style="padding-top:0em" method="post">

        @Html.TextBoxFor(m => m.QuestionText, new { @class = "form-control", placeholder = "Enter Name" })

        <select>
            <option> </option>
        </select>
        <br />
        <button class="primary-btn text-uppercase">Add Announcement</button>
    </form>
</div>

