@{
    ViewBag.Title = "AddCourses";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="col-lg-4 col-md-6 search-course-right section-gap">
    <form class="form-wrap" action="#" style="padding-top:0em">
        <p>CourseName</p>
        <input type="text" class="form-control" name="name" placeholder="Enter CourseName" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter CourseName'">
        <p>CourseType</p>
        <input type="text" class="form-control" name="name" placeholder="Enter CourseType" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter CourseType'">
        <p>CourseFee</p>
        <input type="text" class="form-control" name="name" placeholder="Enter CourseFee" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter CourseFee'">
        <p>StartDate</p>
        <input type="date" class="form-control" name="name" placeholder="Enter StartDate" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter StartDate'">
        <p>EndDate</p>
        <input type="date" class="form-control" name="name" placeholder="Enter EndDate" onfocus="this.placeholder = ''" onblur="    this.placeholder = 'Enter EndDate'">
        <button class="primary-btn text-uppercase">Add Course</button>
    </form>
</div>