@{
    ViewBag.Title = "AddCourses";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<!-- Start course-details Area -->
<section class="course-details-area pt-120">
            <div class="col-lg-4 right-contents">
                <ul>
                    <li>
                        <a class="justify-content-between d-flex" href="#">
                                                       
                        </a>
                        <p>Course Name</p>
                        <input type="text" name="CourseName" value="" placeholder="Enter Course Name" />
                    </li>
                    <li>
                        <a class="justify-content-between d-flex" href="#">
                        <p>Course Type </p>
                        </a>
                        <input type="text" name="CourseType" value="" placeholder="Enter Course Type" />
                    </li>
                    <li>
                        <a class="justify-content-between d-flex" href="#">
                            <p>Course Fee </p>
                            
                        </a>
                        <input type="text" name="CourseFee" value="" placeholder="Enter Course Fee" />
                    </li>
                    <li>
                        <a class="justify-content-between d-flex" href="#">
                            <p>StartDate </p>
                            
                        </a>
                        <input type="date" name="StartDate" value="" />
                    </li>
                    <li>
                        <a class="justify-content-between d-flex" href="#">
                            <p>EndDate </p>
                           
                        </a>
                        <input type="date" name="StartDate" value="" />
                    </li>
                </ul>
                <a href="#" class="primary-btn text-uppercase">Add ourse</a>
            </div>
</section>
<!-- End course-details Area -->

