@{
    ViewBag.Title = "AddInstructor";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="col-lg-4 col-md-6 search-course-right section-gap">
    <form class="form-wrap" action="#" style="padding-top:0em">
        <input type="text" class="form-control" name="name" placeholder="Enter FirstName" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter FirstName'">
        <input type="text" class="form-control" name="name" placeholder="Enter LastName" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter LastName'">
        <input type="email" class="form-control" name="name" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email'">
        <input type="phone" class="form-control" name="phone" placeholder="Your Phone Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your PhNumber'">
        <input type="text" class="form-control" name="name" placeholder="Enter Cnic" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Cnic'">
        <input type="text" class="form-control" name="name" placeholder="Enter City" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter City'">
        <input type="date" class="form-control" name="name" placeholder="Enter DateOfBirth" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter DateOfBirth'">
        <input type="password" class="form-control" name="password" placeholder="Enter Password" onfocus="this.placeholder = ''" onblur="    this.placeholder = 'Enter Password'">
        <button class="primary-btn text-uppercase">Register</button>
    </form>
</div>
