@{
    ViewBag.Title = "InstructorCourses";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div>
    <table style="width:100%">
        <tr>
            <th>InstructorID</th>
            <th>InstructorName</th>
            <th>CourseID</th>
            <th>CourseName</th>
            <th>Courses</th>
        </tr>
        <tr>
            <td>68438</td>
            <td>AhmedAbdulKhaliq</td>
            <td>7899</td>
            <td>Programming Fundamentals</td>
            <td>
            <select>
                <option value="volvo">DataBase Management System</option>
                <option value="saab">Computer Networks</option>
                <option value="opel">Poject Management</option>
                <option value="audi">Operating System</option>
            </select>
            </td>
            <td><button type="button">AssignCourses</button></td>
        </tr>
    </table>
</div>
