
@{
    ViewBag.Title = "CourseDetails";
    Layout = "~/Views/Shared/_Layout_Student.cshtml";
}

<!-- Start course-details Area -->
<section class="course-details-area pt-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 left-contents">
                <div class="main-image">
                    <img class="img-fluid" src="~/Content/img/m-img.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-4 right-contents">
                <ul>
                    <li>
                        <a class="justify-content-between d-flex" href="#">
                            <p>Trainer’s Name</p>
                            <span class="or">George Mathews</span>
                        </a>
                    </li>
                    <li>
                        <a class="justify-content-between d-flex" href="#">
                            <p>Course Fee </p>
                            <span>$230</span>
                        </a>
                    </li>
                    <li>
                        <a class="justify-content-between d-flex" href="#">
                            <p>Start Date </p>
                            <span>21/2/2019</span>
                        </a>
                    </li>
                    <li>
                        <a class="justify-content-between d-flex" href="#">
                            <p>End Date </p>
                            <span>21/4/2019</span>
                        </a>
                    </li>
                    <li>
                        <a class="justify-content-between d-flex" href="#">
                            <p>Type </p>
                            <span>Online</span>
                        </a>
                    </li>
                </ul>
                <a href="#" class="primary-btn text-uppercase">Enroll the course</a>
            </div>
        </div>
    </div>
</section>
<!-- End course-details Area -->

